.Link {
    border: 2px solid white;
    border-radius: 2em;
    display: flex;
    text-decoration: none;
    font-weight: bold;
    background: transparent;
    transition: linear 0.15s;
    color: white;
    min-height: 80px;
    margin: 0 auto 3em auto;
}

@media (min-width: 768px) {
    .Link {
        width: 75%;
    }
}

.Link:hover {
    background: #FFFFFFD2;
    color: #000;
}

.LinkText {
    margin: auto;
    font-size: 1.5em;
    text-align: center;
    padding: 5px;
}

.LinkTextSpacer {
    width: 48px;
    padding: 1em;
}
